
<div class="mission-comp">

<div class="landing-page">
<app-header></app-header>

    <h1 class="page-title">Revolutionizing Bitcoin Education</h1>
    <div class="content-section">
      <div class="left-column">
        <img src="assets/images/globe.svg" alt="Globe" class="globe-image">
      </div>
      <div class="right-column">
        <div class="text-content">
          <h2 class="page-section-title">About BTC illustrated</h2>
          <p class="mission">BTCillustrated, where Bitcoin's complexities become clear through <span class="interactive">interactive learning</span>. </p>
        </div>
      </div>
    </div>
  
    
  <!-- <div class="section-container section-edges-space">
    <div class="title-container">
        <h2 class="page-section-title">Our Learning Ecosystem</h2>
      </div>
    <div class="content-container">

      <div class="image-container">
        <img src="/assets/images/ai.avif" alt="AI Visuals">
      </div>
      <div class="text-container">
        <h3>Breaking complex Bitcoin topic in a simple way</h3>
        <p>Breaking complex Bitcoin topic in a simple way</p>
        <button class="read-more-btn">Read More</button>
      </div>
    </div>
    <div class="navigation-arrows">
        <button class="arrow left-arrow"><i class="fas fa-arrow-left"></i></button>
        <button class="arrow right-arrow"><i class="fas fa-arrow-right"></i></button>
    </div>
  </div> -->


  <div class="section-container section-edges-space">
    <div class="title-container">
      <h2 class="page-section-title">Our Learning Ecosystem</h2>
    </div>
    <div class="content-container">
      <ng-container *ngFor="let slide of slides; let i = index">
        <div *ngIf="currentSlideIndex === i" class="content-container slide">
          <div class="image-container">
            <img [src]="slide.image" alt="AI Visuals" >
          </div>
          <div class="text-container">
            <h3>{{ slide.title }}</h3>
            <p>{{ slide.content }}</p>
            <a class="read-more-btn" [href]="slide.buttonLink">{{ slide.buttonText }}</a>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="navigation-arrows">
      <button class="arrow left-arrow" (click)="goToPreviousSlide()">
        <i class="fas fa-arrow-left"></i>
      </button>
      <button class="arrow right-arrow" (click)="goToNextSlide()">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
  
  
</div>
</div>
  



<div class="vision-section">
    <h2 class="page-section-title">Our Vision</h2>
    <div class="cards-container">
    <div class="card">
    </div>
      <div class="card">
        <img src="/assets/images/event-stay-current.svg" alt="Stay Current">
        <h3>Stay Current</h3>
        <p>Join the Forum to gather, share, and collab on all things Aptos.</p>
      </div>
      <div class="card">
        <img src="/assets/images/event-explore.svg" alt="Explore">
        <h3>Explore</h3>
        <p>Join the Forum to gather, share, and collab.</p>
      </div>
      <div class="card">
        <img src="/assets/images/event-talk.svg" alt="Talk">
        <h3>Talk</h3>
        <p>Check the Blog and keep up with the latest news across the Aptos Network.</p>
      </div>
      <div class="card">
    </div>
    </div>
  </div>
  


  <div class="mission-section">
    <h2 class="page-section-title">Our Mission</h2>
    <p class="mission-statement1">Build an interactive platform that teaches you EVERYTHING about Bitcoin</p>
    <p class="mission-statement2">I'm actively looking for funding to work on this platform full-time. Aiming to <span>Onboard more Bitcoin developers</span> to the space.</p>
    <a class="contact-me">Contact me @BTCillustrated</a>
  </div>
  