
<div class="mailing-list-container">
  <div class="container">
    <h1>Mailing List Explorer</h1>
    <p>Searching through the Bitcoin-dev mailing list is coming soon. Stay tuned!</p>
    <div class="search-box">
      <input (keyup.enter) = "openModal()" type="text" placeholder="Search the Topic..." />
    </div>
  </div>
  
  <!-- The Modal -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <p>Searching throught Bitcoin-dev mailing list is coming soon. Stay tuned!</p>
    </div>
  </div>
  
  
    
  <div class="card-container">
    <div class="cards">
      <div class="card"  (click)="openTopic(post)" *ngFor="let post of dailyUpdateData?.active_posts; let i = index">
        <img
          [src]="card_images[i%dailyUpdateData?.active_posts.length]"
          loading="lazy"
          alt="3D"
          class="discover-categories-item-icon"
        />
        <div class="card-content">
          <div class="card-title">{{ post.title | truncate : 40 }}</div>
          <div class="card-description">{{ post.summary | truncate : 170 }}</div>
          <span class="tag"><b>{{ post.dev_name }}</b></span>
          <span class="tag" *ngFor="let author of post.authors"><b>Author:</b> {{ author }}</span>
          <span class="tag"
            ><b>Date:</b> {{ post.published_at | date : "dd/MM/yyyy" }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
