.mailing-list-container {
    background-color: #fcf5eb;
    color: black 
}

.container {
    text-align: center;
    padding: 40px 60px;
    border-radius: 12px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.search-box {
    position: relative;
}

.search-box input {
    color: rgb(0, 0, 0);
    padding: 15px 15px;
    width: 75%;
    height: 48px;
    text-align: center;
    background: #fcf5eb;
    border: 1px solid #000;
    border-radius: 24px;
    font-size: 1rem;
    outline: none;
}

/* Base style for the search container */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: black; /* Replace with your specific background color */
}

/* Style for the search input */
.search-container input[type="text"] {
    width: 80%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.7); 
}













.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: calc(4 * 250px + 3 * 20px); 
    margin: auto;
    
}
/* .card {
    flex: 1 0 calc(25% - 20px);
} */

.card-container {
    background-color: #fcf5eb;
    padding: 20px;
    width: 100%;
}



























.card {
    background-color: #23a094;
    width: 300px; /* Adjust as needed */
    padding: 20px;
    border-radius: 10px; /* Added for rounded corners */
  }

  .card img {
    width: 100px; /* Adjust as needed */
    margin-bottom: 15px;
  }

  .card-title {
    font-size: 24px; /* Adjust as needed */
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .card-description {
    margin-bottom: 20px;
  }

  .tags-title {
    font-size: 14px; /* Adjust as needed */
    font-weight: bold;
    margin-bottom: 10px;
  }

  .tag {
    display: inline-block;
    background-color: #ffffe9;
    padding: 2px 8px;
    border: 0.5px solid;
    border-radius: 15px;
    font-size: 12px;
    margin-right: 5px;
}

/* .card-container .cards .card:nth-child(1) {
    background-color: #47B5B2; 
}

.card-container .cards .card:nth-child(2) {
    background-color: #ED6A75;
}

.card-container .cards .card:nth-child(3) {
    background-color: #47B05A; 
}

.card-container .cards .card:nth-child(4) {
    background-color: #F6B04D; 
}

.card-container .cards .card:nth-child(5) {
    background-color: #4C78A9; 
}

.card-container .cards .card:nth-child(6) {
    background-color: #E55934; 
}

.card-container .cards .card:nth-child(7) {
    background-color: #2A9D8F; 
} */
.card-container .cards .card {
    background-color: #fcf5eb;
    border: 1px solid black;
    cursor: pointer;
}
.card-container .cards .card:hover {
    background-color: #FCD313;
    border: 1px solid black;
}



.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    width: 100%;
}

.card {
    width: 30%;
    margin: 4px 0px;
}


/* Modal coming soon  */
/* The Modal (background) */
/* The Modal (background) */
.modal {
    display: block; /* Show the modal */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #0a1013;
    margin: 15% auto;
    color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 36%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    text-align: end;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  