<button mat-dialog-close class="close-button">&times;</button>

<div class="dialog-background">
  <div class="loading" *ngIf="isLoading">
    <div class="fixed-content">
      <svg viewBox="0 0 100 100">
        <g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="6">
          <path d="M 21 40 V 59">
            <animateTransform
            attributeName="transform"
            attributeType="XML"
            type="rotate"
            values="0 21 59; 180 21 59"
            dur="2s"
            repeatCount="indefinite" />
          </path>
          <path d="M 79 40 V 59">
            <animateTransform
            attributeName="transform"
            attributeType="XML"
            type="rotate"
            values="0 79 59; -180 79 59"
            dur="2s"
            repeatCount="indefinite" />
          </path>
          <path d="M 50 21 V 40">
            <animate
            attributeName="d"
            values="M 50 21 V 40; M 50 59 V 40"
            dur="2s"
            repeatCount="indefinite" />
          </path>
          <path d="M 50 60 V 79">
            <animate
            attributeName="d"
            values="M 50 60 V 79; M 50 98 V 79"
            dur="2s"
            repeatCount="indefinite" />
          </path>
          <path d="M 50 21 L 79 40 L 50 60 L 21 40 Z">
          <animate
            attributeName="stroke"
            values="rgba(255,255,255,1); rgba(100,100,100,0)"
            dur="2s"
            repeatCount="indefinite" />
          </path>
          <path d="M 50 40 L 79 59 L 50 79 L 21 59 Z"/>
          <path d="M 50 59 L 79 78 L 50 98 L 21 78 Z">
          <animate
            attributeName="stroke"
            values="rgba(100,100,100,0); rgba(255,255,255,1)"
            dur="2s"
            repeatCount="indefinite" />
          </path>
          <animateTransform
            attributeName="transform"
            attributeType="XML"
            type="translate"
            values="0 0; 0 -19"
            dur="2s"
            repeatCount="indefinite" />
        </g>
      </svg>
      <p class="loading-text">Loading conversation...</p>
    </div>
    <p *ngIf="currentInfoText" [@fadeInOut] class="info-text">
      " {{ currentInfoText }} "
    </p>

  </div>


  <div *ngIf="!isLoading">
  <!-- <div> -->
    <div class="container">
      <div class="dialog-header">
        <h1>{{topic.title}}</h1>
        <span>Turn boring bitcoin mailing-list mails into engaging conversation</span>
      </div>

      <div class="keywords-container">
        <span class="keyword-title">Keywords</span>
        <div class="keywords-wrapper">
          <div class="keywords" #keywords>
            <span class="keyword" *ngFor="let keyword of dialogueResponse.keywords">{{ keyword }}</span>
          </div>
        </div>
      </div>


      <div class="audio-section">
        <button class="play-button">
          <i class="fa fa-play"></i>
        </button>
        <span>Listen to this conversation</span>
      </div>

      <div class="chat-container">
        <ng-container *ngFor="let message of dialogueResponse?.dialogue; let i = index">
          <!-- Use ngIf to only display the current and previous messages -->
          <ng-container *ngIf="i <= currentDialogueIndex">
            <div class="chat-bubble"
              [ngClass]="{'seedhammer': message.speaker === 'Author', 'me': message.speaker === 'Me'}">
              <img [src]="getImageSource(message.speaker)" alt="{{ message.speaker }}" class="icon">
              <div class="text-content">
                <!-- <p><span style="font-weight: 400;">{{ message.speaker === 'Author' ? topic.authorName : 'Bob' }}: </span>{{ currentTexts[i] }}</p> -->
              
                <p>
                  <span style="font-weight: 400;"> 
                    {{ message.speaker === 'Author' ? (topic.authorName | extractName) : 'Bob' }}:
                    <!-- {{ message.speaker === 'Author' ? 'SeedHammer': 'Me' }}: -->
                  </span>
                  {{ currentTexts[i] }}
                </p>
                
              </div>
            </div>

            <!-- <div class="chat-bubble" [ngClass]="{'seedhammer': message.speaker === 'Author', 'me': message.speaker === 'Me'}">
              <img [src]="getImageSource(message.speaker)" alt="{{ message.speaker }}" class="icon">
              <div class="speaker-name">{{ message.speaker === 'Author' ? 'Speaker' : 'Me' }}</div>
              <div class="text-content">
                <p>{{ message.text }}</p>
              </div>
            </div> -->
            
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

</div>