<app-header [headerOptions]="headerOptions"></app-header>
  <div class="side-video-container">
    <img
      src="assets/btcIllustrated/slideshow/askGpt.gif"
      alt="Your GIF Description"
    />

    <div class="gpt-input-section">
      <div class="input-wrapper">
        <!-- Left "Magic" Icon -->
        <i class="fa fa-magic"></i>

        <!-- Input with Placeholder -->
        <input
          placeholder="Type your question for GPT:"
          [(ngModel)]="gptQuestion"
        />

        <!-- Right "Send" Icon -->
        <i class="fa fa-send" (click)="askGPT()"></i>
      </div>
      <div *ngIf="isLoading" class="loader"></div>

      <p>{{ gptResponse }}</p>
    </div>
  </div>