 <div class="bob-gpt-container">
  <h4 style="    font-weight: 100;
  text-align: center;
  margin-top: 10px;">Your personal <span style="font-weight: 500;">AI expert</span> in all Bitcoin related topics.</h4>
  <div class="side-video-container">
    <img
      src="assets/btcIllustrated/slideshow/askGpt.gif"
      alt="Your GIF Description"
    />
  </div>
  <div class="gpt-input-section">
    <div class="input-wrapper">
      <!-- Left "Magic" Icon -->
      <i class="fa fa-magic"></i>

      <!-- Input with Placeholder -->
      <input
        placeholder="Type your question for GPT:"
        (keyup.enter)="askGPT()"
        [(ngModel)]="gptQuestion"
      />

      <!-- Right "Send" Icon -->
      <i class="fa fa-send" (click)="askGPT()"></i>
    </div>
    <div *ngIf="isLoading" class="loader"></div>

    <p>{{ gptResponse }}</p>
  </div>
 </div>
