



  <div class="cards">
    <div class="card">
      <img src="https://assets-global.website-files.com/617825a38a48f37525a3c16f/62d814f917f57f7f76a772ba_writing.svg" loading="lazy" alt="3D" class="discover-categories-item-icon" style="margin-right: 20px;" />

      <div class="card-content">
        <div class="card-title" >Your Daily Update</div>
        <div class="card-description">{{dailyUpdateData.header_summary}}</div>
        <span class="tag"><b>Discussions:</b> {{dailyUpdateData.recent_posts.length}}</span>
        <span class="tag"
          ><b>All Activity:</b>{{dailyUpdateData.active_posts.length}}</span
        >
      </div>
    </div>
  </div>