.roadmap-container {
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.right-dialog-container {
    position: fixed; /* Use fixed positioning */
    top: 0;
    right: 0;
    width: 30%; /* Match the width from openElementDialog */
    height: 100%;
    max-width: none !important;
    max-height: none !important;
    overflow: hidden; /* Add this to prevent any potential overflow */
}
.roadmap-path {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100%; /* Take the full height of the parent container */
}

svg text {
    font-family: "Balsamiq Sans Regular";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.actions button {
    background-color: #ddd;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.progress {
    margin-top: 20px;
    color: #777;
}

.footer {
    margin-top: 20px;
    color: #777;
}


.show:hover {
    fill: chartreuse;
    cursor: pointer;
}

::ng-deep body {
    background-color: #111316
}

  
svg text {
    user-select: none;  /* standard syntax */
    -webkit-user-select: none;  /* Safari 3.1+ */
    -moz-user-select: none;  /* Firefox 2+ */
    -ms-user-select: none;  /* IE 10+ */
}

.hover-group:hover path:first-of-type {
    cursor: pointer;
    fill: #ffa000; /* Change the rectangle's background color on hover */
  }
  
.hover-group:hover text {
    cursor: pointer;
    fill: #000; /* Change the text color on hover */
}

.hover-element:hover {
    cursor: pointer;
    fill: #e9ce9f; /* Change the rectangle's background color on hover */
}

.hover-element-text:hover {
    cursor: pointer;
    fill: #ffffff; /* Change the text color on hover */
}


