/* This is your CSS that styles the component */
/* ::ng-deep .mat-dialog-container {
    padding: 0 !important;
    box-shadow: unset !important;
    border-radius: 10px;
  }
   */

   .full-height {
    background-color: #fcf5eb;
    min-height: 100vh;
    width: 100%;
  }