<div class="container">
<div class="header">
    <div class="logo" routerLink="/home">BTCIllustrated</div>
    <div class="page-title">ARTICLES</div>
</div>
<!-- <input type="text" name="articleName" [(ngModel)]="articleName" id="" placeholder="Article Name" class="input-article-name">
<button class="save-btn" (click)="onSave()">Save Article</button> -->
<div class="article-name-save">
    <input type="text" name="articleName" [(ngModel)]="articleName" placeholder="Article Name" class="input-article-name">
    <button class="save-btn" (click)="onSave()">Save</button>
  </div>
<div class="article-content">
    <div class="editor">
    <quill-editor [(ngModel)]="htmlText"
        placeholder="Start writing your article ..."
        [modules]="modules"
        (onContentChanged)="onContentChanged($event)"></quill-editor>
    </div>
</div>
</div>
  