<app-header [headerOptions]="headerOptions"></app-header>

<div class="header">
    <div class="container">
        <div class="row" style="padding-top: 8rem;">
            <div class="col-md-4">
                <h1 style="font-weight: bold; font-size: 2.3em;">Hi, I'm Jamal, I'm a developer</h1>
                <p class="text_para">I teach people about Bitcoin, Lightning and Nostr using illustrations</p>
                
                <!-- Twitter Call-to-Action -->
                <div class="twitter-cta">
                    <p>Want to chat? Reach out to me on Twitter!</p>
                    <a href="https://twitter.com/btcillustrated" target="_blank">
                        <img src="./../../../assets/animations/x.webp" alt="Twitter Icon" class="twitter-icon">
                        @BTCIllustrated
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <img class="me" src="./../../../assets/animations/me.jpg" alt="">
            </div>
        </div>
    </div>
</div>
