.containerr {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #FCD313;
}

.container {
  width: 80%;
  background-color: #FCD313;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: white;
  border: 2px solid black;
  border-radius: 100px;
  margin-bottom: 100px;
}

.logo strong {
  font-size: 1.5em;
}

nav a,
.dropbtn {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
  background: unset;
  border: unset;
}

nav a:hover,
.dropbtn:hover {
  color: #ddd;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
  border: 1px solid;
  border-radius: 6px;
  padding: 4px;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 50px;
  overflow: hidden; /* This will keep the child elements inside the rounded borders */
  margin-left: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 8px 12px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px; /* Rounded on the left side */
}

.search-icon {
  padding: 8px 12px;
  color: black;
  background-color: white;
  border-radius: 0 5px 5px 0; /* Rounded on the right side */
}

.search-input::placeholder {
  color: #888;
}
.content {
  padding: 40px 20px;
}

.center-text {
  font-family:'Outfit';
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 110px;
}
.title {
  font-family:'Outfit';
  font-weight: 700;
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 10px;
}
.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  flex: 1;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 3px 3px 0 #000;
  border-radius: 5px;
  text-align: center;
  margin: 0 10px;
  position: relative;  /* To enable absolute positioning for hover effect */
  cursor: pointer;
  /* Add transitions for top, left, and box-shadow */
}

.card:hover {
  top: 2px;  /* Move the card by 2px downward */
  left: 2px;  /* Move the card by 2px to the right */
  box-shadow: 1px 1px 0 #000;  /* Adjust the shadow on hover */
  transition: top 0.5s ease-in-out, left 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

}

.card img {
  width: 110px;
  height: 110px;
  margin: 0 auto 20px;
  display: block;
}

.card p {
  margin: 0;
  font-weight: bold;
}
