<div class="containerr">
    <div class="container">
        <header class="header">
            <div class="logo">
              <strong>BTCillustrated</strong>
            </div>
            <nav>
                <div class="nav-items">
                  <div class="dropdown">
                    <button class="dropbtn">Products</button>
                    <div class="dropdown-content">
                      <a [routerLink]="['/search']">Visuals</a>
                      <a [routerLink]="['/mailing-list']">MailMerge</a>
                      <a [routerLink]="['/roadmap']">RoadMap</a>
                      <a [routerLink]="['/list']">Blog</a>
                      <a [routerLink]="['/support']">Plateform</a>
                    </div>
                  </div>
                  <a [routerLink]="['/newsletter']">Newsletter</a>
                  <a [routerLink]="['/support']">#Support</a>
                </div>
                <!-- Search Bar -->
                <div class="search-bar">
                  <input type="text" [routerLink]="['/search']"  placeholder="Search ..." class="search-input">
                  <i class="fa fa-search search-icon"></i>
                </div>
              </nav>
              
          </header>
          
        <div class="content">
        <h1 class="title">BTCillustrated</h1>
          <p class="center-text">
            The all-new interactive learning experience that teaches you everything about Bitcoin
          </p>
          <div class="cards">
            <div class="card" [routerLink]="[card.link]" *ngFor="let card of cards">
              <img [src]="card.icon" alt="icon" />
              <p>{{ card.text }}</p>
            </div>
          </div>
        </div>
      </div>
</div>
