<app-header></app-header>

<div class="newsletter-container">
    <div class="container">
        <div class="left">
            <h1 style="font-size: 60px; font-weight: 200;">Our Journey So Far:
                <span style="font-weight: 600;">20% Done, 100% Committed</span>
            </h1>
            <!-- <h2 style="font-size: 33px">
                <span>The Big Goal is: </span>
                <span style="font-weight: 200;">Build an interactive platform that teaches you everything about Bitcoin from A to Z</span>
            </h2> -->

            <p style="margin-top: 60px;">
                <span style="font-weight: 500;">Mission: </span>
                <span>Build an interactive platform that teaches you everything about Bitcoin from A to Z</span>
            </p>

            <p>
                I'm actively looking for funding to work on this platform full-time.
                Aiming to onboard more Bitcoin developers to the space.
            </p>
            <!-- <p>Aiming to onboard more Bitcoin developers to the space.</p> -->
            <div class="twitter-cta">
                <p>Want to chat? Reach out to me on Twitter!</p>
                <a href="https://twitter.com/btcillustrated" target="_blank">
                    <img src="./../../../assets/animations/x.webp" alt="Twitter Icon" class="twitter-icon">
                    <span style="color: black;
                    text-decoration: underline; margin-left: 10px;">@BTCIllustrated</span>
                </a>
            </div>
        </div>
        <div class="right">
            <img src="assets/animations/gif/duck.gif" alt="Newsletter GIF">
        </div>
    </div>
</div>

