<div class="mission-comp">

    <div class="landing-page">
        <app-header></app-header>
        <h1 class="page-title">BLOG</h1>
        <div class="vision-section">
            <h2 class="page-section-title">Consensus articles</h2>
            <div *ngFor="let row of groupedArticles">
                <div class="cards-container">
                    <div class="card empty-card"></div> 
                    <div class="card" *ngFor="let article of row">
                        <div [routerLink]="['/read', article.id]" style="margin-bottom: 40px;">
                            <img src="{{ article.thumbnailImage }}" alt="{{ article.altText }}">
                            <h2 style="font-size: 1.5em;">{{ article.title }}</h2>
                            <p [style.margin-top.px]="30" [innerHTML]="getArticleDescription(article?.content)"></p>

                            <i class="fa fa-arrow-right" [routerLink]="['/read', article.id]" aria-hidden="true"></i>
                            <!-- <a [routerLink]="['/read', article.id]" class="read-more-btn">Read more</a> -->
                        </div>
                    </div>
                    <div class="card empty-card"></div>
                </div>
            </div>
        </div>
    </div>
</div>


