.overflow-hidden {
    /* These are placeholder values; adjust as needed */
    width: 123px;
    height: 16px;
    overflow: hidden;
}

.animate-move {
    animation: moveX 1s infinite alternate;
    transform-origin: 61.5px 8px;
}

@keyframes moveX {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-9.35406px);
    }
}

.video-spacer {
    height: 100vh; /* Assuming the video takes up the whole viewport height */
}






.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}

.video-spacer {
    height: 50px; 
}

/* .video-container {
    position: sticky;
    top: 0;
    height: 400px; 
} */

.centered-image {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px; 
}

.articles-container {
    display: flex;
}

.read-more-btn {
    display: block;
    margin-top: 30px;
    text-decoration: underline; 
    background: none; 
    color: inherit; 
    padding: 0; 
    border: none; 
    border-radius: 0; 
    cursor: pointer;
}

.read-more-btn:hover {
    text-decoration: none; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; 
}

.col-md-3, .col-md-9, .col-md-4 {
    padding: 20px; 
}

/* Media queries for better responsive design */
@media (max-width: 991px) {
    .articles-container {
        flex-direction: column;
    }

    .col-md-3, .col-md-9, .col-md-4 {
        width: 100%;
    }
}
.sticky-container {
    position: sticky;
    top: 0;
}

.video-container {
    height: 400px;
    z-index: -1;  /* This makes the video sit behind other elements */
    position: relative; /* Ensuring it's positioned so z-index takes effect */
}

h1 {
    text-align: center;
    margin-top: 10px;  /* Adjusted margin for better spacing */
    font-size: 24px; 
}













/* ... your existing styles ... */

.article-card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 40px;
    border: 1px solid #ffffff;
    margin: 20px 0;
    background-color: #111b21;
    color: #fff;
}

.article-card:hover {
    border: unset;

    color: #fff;
    background-color: #000000 ; 
}

/* .article-card .btnBefore,
.article-card .btnAfter {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #000000 ;
    border-width: 0;
    border-radius: 0;
    transition: 0;
    box-sizing: border-box;
    border-color: #FCD313;
}

.article-card .btnBefore {
    right: 0;
    bottom: 0;
}

.article-card .btnAfter {
    left: 0;
    top: 0;
}

.article-card:hover .btnBefore {
    border-width: 0 0 1px 1px;
}

.article-card:hover .btnAfter {
    border-width: 1px 1px 0 0;
}

.article-card:hover .btnAfter, 
.article-card:hover .btnBefore {
    height: 100%;
    width: 100%;
    transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
} */

/* ... rest of your existing styles ... */












.article-card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 40px;
    border: 1px solid #ffffff;
    margin: 20px 0;
    background-color: #111b21;
    color: #fff;
    transition: background-color 0.6s; /* Added transition */
    cursor: pointer;
}

.article-card:hover {
    background-color: #000000 ; /* or any other hover effect you desire */
}

.article-card .btnTopLeft,
.article-card .btnTopRight,
.article-card .btnBottomLeft,
.article-card .btnBottomRight {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid transparent;
    border-width: 1px;
    transition: all 0.6s;
    box-sizing: border-box;
    border-color: #FCD313;
}

.article-card .btnTopLeft {
    left: 0;
    top: 0;
    border-width: 1px 0 0 1px;
}

.article-card .btnTopRight {
    right: 0;
    top: 0;
    border-width: 1px 1px 0 0;
}

.article-card .btnBottomLeft {
    left: 0;
    bottom: 0;
    border-width: 0 0 1px 1px;
}

.article-card .btnBottomRight {
    right: 0;
    bottom: 0;
    border-width: 0 1px 1px 0;
}

.article-card:hover .btnTopLeft {
    width: 100%;
    height: 100%;
}

.article-card:hover .btnTopRight {
    width: 100%;
    height: 100%;
}

.article-card:hover .btnBottomLeft {
    width: 100%;
    height: 100%;
}

.article-card:hover .btnBottomRight {
    width: 100%;
    height: 100%;
}







.empty-card {
    visibility: hidden;
    flex: 1;
}

.card {
    padding: 50px !important;
    position: relative; /* Add relative positioning */
    border-right: 1px solid hsla(0,0%,100%,.15);
    border-left: 1px solid hsla(0,0%,100%,.15);
}

.card img {
    width: 100% !important;
    height: auto; /* Maintain aspect ratio */
}
.fa-arrow-right {
    cursor: pointer;
    margin-left: 10px; /* Example spacing */
    font-size: 23px;
    position: absolute; /* Absolute position the arrow */
    bottom: 20px; /* Adjust as necessary for spacing from the bottom */
    transform: translateX(-50%); /* Align center of the icon with the center of the card */
}

.vision-section {
    padding: 20px 0;
}