<div class="custom-dialog-header">
    <span>Internet</span>
    <button mat-icon-button class="close-button" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div class="custom-dialog-content">
    <p>
      The Internet is a global network of computers connected to each other which
      communicate through a standardized set of protocols.
    </p>
  
    <p>Visit the following resources to learn more:</p>
  
    <ul>
      <li>How does the Internet Work?</li>
      <li>The Internet Explained</li>
      <li>How Does the Internet Work?</li>
      <li>Introduction to Internet</li>
      <li>How does the Internet work?</li>
      <li>How the Internet Works in 5 Minutes</li>
      <li>Computer Network | Google IT Support Certificate</li>
    </ul>
  
    <div class="link-submit">
      <p>Help others learn by submitting links to learn more about this topic</p>
      <button mat-raised-button class="submit-link-button">
        Submit a Link
      </button>
    </div>
  </div>
  