<app-header></app-header>
<div class="modal">
    <div class="modal-content">
        <span class="close-button" (click)="hideModal()">×</span>
        <p>Thanks for subscribing! Keep an eye on your inbox for enlightening Bitcoin illustrations.</p>
    </div>
</div>
<div class="newsletter-container">
    <div class="container">
        <div class="left">
            <h1 style="font-size: 80px; font-weight: 200;">Get Smarter About
                <span style="font-weight: 600;">Bitcoin</span>
            </h1>
            <p>Dive deep into the world of Bitcoin without the jargon. I break down complex concepts using simple and engaging illustrations.</p>
            
            <form [formGroup]="emailForm" (ngSubmit)="subscribe()" class="custom-search">
                <input type="email" class="custom-search-input" formControlName="email" placeholder="Enter your email">
                <button class="custom-search-botton" type="submit">Subscribe</button>  
            </form>
            
            <small>Subscribe now and receive enlightening Bitcoin illustrations directly in your email.</small>
            <div class="logos">
                  <!-- Add logos here. E.g., <img src="path/to/logo.png" alt="Logo Name"> -->
            </div>
        </div>
        <div class="right">
            <img src="assets/animations/gif/mail.gif" alt="Newsletter GIF">
        </div>
    </div>
</div>

<div class="modal" *ngIf="showThankYouModal">
    <div class="modal-content">
        <span class="close-button" (click)="hideModal()">×</span>
        <p>Thanks for subscribing! Keep an eye on your inbox for enlightening Bitcoin illustrations.</p>
    </div>
</div>
