<div class="ask-gpt-title">
  <!-- <h4 class="no-result">
    No result found BUT
  </h4> -->
  <h2 style="
  font-weight: 700;
  font-size: 3rem;">Create Mind Maps with AI</h2>
</div>

<div class="container brand-shadow box">
  <form [formGroup]="form" (ngSubmit)="submitData()">
    <!-- <div class="box search-bar-ai">
        <input type="text" formControlName="userInput" placeholder="Enter the bitcoin topic you're looking for ...">
        <i class="fas fa-paper-plane search-icon" (click)="submitData()"></i>
      </div> -->
    <div class="box search-bar-ai">
      <input type="text" formControlName="userInput" placeholder="Enter the bitcoin topic you're looking for ...">
      <!-- Conditionally display either the icon or the loader -->
      <i *ngIf="!isLoading" class="fas fa-paper-plane search-icon" (click)="submitData()"></i>
      <!-- This is your loader, which will show when isLoading is true -->
      <div *ngIf="isLoading" class="loader"></div>
    </div>

    <div class="tags">
      <!-- <button class="tag-button" type="button"><i class="far fa-lightbulb"></i> View prompts</button> -->
      <div class="dropdown">
        <button class="tag-button dropdown-toggle" type="button" (click)="toggleDropdown('workflow')">
          <i class="fas fa-brain"></i> {{ form.value.workflow || 'Workflow' }}
        </button>
        <div class="dropdown-content" [class.show]="showDropdown === 'workflow'">
          <a (click)="selectDropdownOption('workflow', 'Mind map')">
            <i class="far fa-lightbulb"></i> Mind map
          </a>
          <a (click)="selectDropdownOption('workflow', 'Notes')">
            <i class="far fa-lightbulb"></i> Notes
          </a>
        </div>
      </div>
      <div class="dropdown">
        <button class="tag-button dropdown-toggle" type="button" (click)="toggleDropdown('tone')">
          <i class="fas fa-comments"></i> {{ form.value.tone || 'Tone' }}
        </button>
        <div class="dropdown-content" [class.show]="showDropdown === 'tone'">
          <a (click)="selectDropdownOption('tone', 'Technical')">
            <i class="far fa-user"></i> Technical
          </a>
          <a (click)="selectDropdownOption('tone', 'Non-technical')">
            <i class="far fa-user"></i> Non-technical
          </a>
        </div>
      </div>

      <button class="tag-button" type="file"><i class="fa fa-cloud-upload"></i> Upload fille (.pdf, .txt)</button>
      <!-- Repeat for other tags like 'Persona', etc. -->
    </div>

    <div class="search-options">
      <!-- Repeat the structure below for each search option -->
      <div class="option" (click)="setSearchBarValue('AssumeUTXO ')">
        <i class="far fa-star"></i>
        <span>Create Mind Map for <span class="topic">AssumeUTXO</span> ... </span>

      </div>
      <div class="option" (click)="setSearchBarValue('P2SH ')">
        <i class="far fa-star"></i>
        <span>Create Mind Map for <span class="topic">P2SH</span> ... </span>
      </div>
      <div class="option" (click)="setSearchBarValue('Transaction pinning attack ')">
        <i class="far fa-star"></i>
        <span>Create Mind Map for <span class="topic">Transaction pinning attack</span> ... </span>
      </div>
      <div class="option" (click)="setSearchBarValue('Segwit')">
        <i class="far fa-star"></i>
        <span>Create Mind Map for <span class="topic">Segwit </span>... </span>
      </div>
      <div class="option" (click)="setSearchBarValue(' ')">
        <i class="far fa-star"></i>
        <span>Create Mind Map for <span class="topic"> ...</span> </span>
      </div>
      <!-- Add more options here -->
    </div>
  </form>
</div>